<div class="row">
    <div class="col-md-12 text-center">
        <h3>Ember Data Adapter for Parse</h3>
        <p class="lead">An adapter built specifically to use with the Parse.com REST API</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        SELECT A DEMO:
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "signup"}}Sign Up{{/link-to}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "login"}}Login{{/link-to}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "simple"}}Simple Model{{/link-to}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "belongsto"}}Belongs To{{/link-to}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "hasmany"}}Has Many{{/link-to}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#link-to "facebook"}}Facebook Login{{/link-to}}
    </div>
</div>

<br><br><br>

{{outlet}}
