<form>
<div class="row">
    <div class="col-md-2">
        <label for="donutFlavor">Donut Flavor</label>
    </div>
    <div class="col-md-10">
        <select id="donutFlavor">
          <option value="glazed">Glazed</option>
          <option value="chocolate">Chocolate</option>
        </select> <button {{action 'save'}}>Save</button>
    </div>
</div>
</form>

<br>
{{#if succeeded}}
    <div class="row">
        <div class="col-md-12">
            Successfully saved Belongs To Model <button {{action 'reset'}}>Reset</button>
        </div>
    </div>
{{/if}}