{{#if saved}}

    <div class="row">
        <div class="col-md-12">
            <button {{action 'add'}}>Add a Stripe</button>
        </div>
    </div>

{{else}}

    <form>
    <div class="row">
        <div class="col-md-2">
            <label for="tigerName">Name</label>
        </div>
        <div class="col-md-10">
            {{input value=name id="tigerName" placeholder="Tigra"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button {{action 'save'}}>Save</button>
        </div>
    </div>

    </form>
{{/if}}
